html,
body {
    margin: 0;
    background: #1e1e1e;
    overflow: hidden; /* Prevent body scrollbars */
}

.chart-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#benchmark_chart {
    display: block;
}
