body {
    margin: 0; /* Kill default browser margins */
    overflow: hidden; /* Kill scrollbars */
}

canvas {
    background: #1e1e1e;
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
}
